{{ 'account.css' | asset_url | stylesheet_tag }}

<script src="{{ 'account.js' | asset_url }}" defer="defer"></script>

<div class="customer">
    <div class="container">
        <div class="wrap">
            {%- paginate customer.addresses by 5 -%}
                <div class="pt-[3.75rem] pb-24 large:pt-[4.375rem] large:pb-32" data-customer-addresses>
                    <svg class="hidden">
                        <symbol id="icon-caret" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                        </symbol>
                    </svg>
                    <h1 class="heading-r mb-5">
                        {{- 'customer.addresses.title' | t -}}
                    </h1>
                    <div class="rounded-md px-7 py-8 justify-between items-center bg-uiMidGrey medium:grid medium:grid-cols-12 medium:gap-x-5">
                        <ul class="col-span-12" role="list">
                            {%- for address in customer.addresses -%}
                                <li class="w-full pb-6 mb-6 border-b border-uiDarkGrey large:flex large:items-center large:justify-between">
                                    <div>
                                        {%- if address == customer.default_address -%}
                                            <h2 class="heading mb-3 font-bold">
                                                {{- 'customer.addresses.default' | t -}}
                                            </h2>
                                        {%- endif -%}
                                        {{- address | format_address -}}
                                    </div>
                                    <div class="flex mt-5" data-address>
                                        <modal-opener class="mr-2 largeMax:w-1/2" data-modal="#EditAddress">
                                            <button
                                                type="button"
                                                id="EditFormButton_{{ address.id }}"
                                                class="button button--primary button--full-width-mobile button--small min-w-[5.0625rem] js-toggle-address-button"
                                                aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                                                aria-controls="EditAddress_{{ address.id }}"
                                                aria-expanded="false"
                                                data-address-id="{{ address.id }}"
                                            >
                                                {{- 'customer.addresses.edit' | t -}}
                                            </button>
                                        </modal-opener>
                                        <form class="largeMax:w-1/2" method="post" action="/account/addresses/{{ address.id }}">
                                            <input type="hidden" name="_method" value="delete">
                                            <button
                                                type="submit"
                                                class="button button--secondary button--full-width-mobile button--small min-w-[5.0625rem]"
                                                aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                                                data-target="{{ address.url }}"
                                                data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                                            >
                                                {{- 'customer.addresses.delete' | t -}}
                                            </button>
                                        </form>
                                        <div class="fixed w-full h-full top-0 left-0 right-0 bottom-0 bg-black opacity-40 transform -translate-x-full z-50 js-overlay-bg"></div>
                                        <modal-dialog id="EditAddress">
                                            <div class="modal-overlay hidden js-modal-overlay"></div>
                                            <div id="EditAddress_{{ address.id }}" role="dialog" class="fixed w-full h-[80vh] right-0 bottom-0 py-[2.8125rem] px-8 max-w-[35rem] pt-8 z-70 rounded-tl-[2rem] bg-uiWhite overflow-y-scroll box-border transform transition-transform duration-300 mediumMax:translate-y-full mediumMax:rounded-tr-[2rem] medium:translate-x-full medium:h-screen large:top-0 large:px-[4.375rem] large:rounded-bl-[2rem] js-address-form">
                                                <div class="flex items-center justify-between mb-[2.125rem]">
                                                    <h2 id="AddressNewHeading" class="text-uiBlack font-Oswald text-3xl uppercase">
                                                        {{- 'customer.addresses.edit_address' | t -}}
                                                    </h2>
                                                    <button id="ModalClose-AddAddress" class="w-12 h-12 flex justify-center items-center rounded-full border border-solid border-primary text-primary js-toggle-address-button">
                                                        {% render 'icon-close-overlay' %}
                                                    </button>
                                                </div>
                                                {%- form 'customer_address', address -%}
                                                    <div class="field field--label-top">
                                                        <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                                        <input type="text" id="AddressFirstName_{{ form.id }}" class="field__input" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                                    </div>
                                                    <div class="field field--label-top">
                                                        <label for="AddressLastName_{{ form.id }}" class="field__label">{{ 'customer.addresses.last_name' | t }}</label>
                                                        <input type="text" id="AddressLastName_{{ form.id }}" class="field__input" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                                    </div>
                                                    <div class="field field--label-top">
                                                        <label for="AddressCompany_{{ form.id }}" class="field__label">{{ 'customer.addresses.company' | t }}</label>
                                                        <input type="text" id="AddressCompany_{{ form.id }}" class="field__input" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                                                    </div>
                                                    <div class="field field--label-top">
                                                        <label for="AddressAddress1_{{ form.id }}" class="field__label">{{ 'customer.addresses.address1' | t }}</label>
                                                        <input type="text" id="AddressAddress1_{{ form.id }}" class="field__input" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                                                    </div>
                                                    <div class="field field--label-top">
                                                        <label for="AddressAddress2_{{ form.id }}" class="field__label">{{ 'customer.addresses.address2' | t }}</label>
                                                        <input type="text" id="AddressAddress2_{{ form.id }}" class="field__input" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                                                    </div>
                                                    <div class="field field--label-top">
                                                        <label for="AddressCity_{{ form.id }}" class="field__label">{{ 'customer.addresses.city' | t }}</label>
                                                        <input type="text" id="AddressCity_{{ form.id }}" class="field__input" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                                                    </div>
                                                    <div class="field field--label-top">
                                                        <label for="AddressCountry_{{ form.id }}" class="field__label">
                                                            {{- 'customer.addresses.country' | t -}}
                                                        </label>
                                                        <div class="select relative">
                                                            <select
                                                                id="AddressCountry_{{ form.id }}"
                                                                class="js-country-select"
                                                                name="address[country]"
                                                                data-address-country-select
                                                                data-default="{{ form.country }}"
                                                                data-form-id="{{ form.id }}"
                                                                autocomplete="country"
                                                            >
                                                                {{- all_country_option_tags -}}
                                                            </select>
                                                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                                <use href="#icon-caret" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div id="AddressProvinceContainer_{{ form.id }}" class="field field--label-top" style="display: none;">
                                                        <label for="AddressProvince_{{ form.id }}" class="field__label">
                                                            {{- 'customer.addresses.province' | t -}}
                                                        </label>
                                                        <div class="select relative">
                                                            <select
                                                                id="AddressProvince_{{ form.id }}"
                                                                name="address[province]"
                                                                data-default="{{ form.province }}"
                                                                autocomplete="address-level1"
                                                            >
                                                            </select>
                                                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                                <use href="#icon-caret" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="field field--label-top">
                                                        <label for="AddressZip_{{ form.id }}" class="field__label">
                                                            {{- 'customer.addresses.zip' | t -}}
                                                        </label>
                                                        <input type="text" id="AddressZip_{{ form.id }}" class="field__input" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                                                    </div>
                                                    <div class="field field--label-top">
                                                        <label for="AddressPhone_{{ form.id }}" class="field__label">
                                                            {{- 'customer.addresses.phone' | t -}}
                                                        </label>
                                                        <input type="tel" id="AddressPhone_{{ form.id }}" class="field__input" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                                                    </div>
                                                    <div class="field field--checkbox">
                                                        {{- form.set_as_default_checkbox -}}
                                                        <label class="ml-4" for="address_default_address_{{ form.id }}">
                                                            {{- 'customer.addresses.set_default' | t -}}
                                                        </label>
                                                    </div>
                                                    <div class="mt-8">
                                                        <button type="submit" class="button button--primary button--full-width">
                                                            {{- 'customer.addresses.update' | t -}}
                                                        </button>
                                                        <button type="reset" class="flex mt-[1.875rem] mx-auto link underline js-close-address-button">
                                                            {{- 'customer.addresses.cancel' | t -}}
                                                        </button>
                                                    </div>
                                                {%- endform -%}
                                            </div>
                                        </modal-dialog>
                                    </div>
                                </li>
                            {%- endfor -%}
                        </ul>
                        <div class="col-span-12" data-address>
                            <modal-opener data-modal="#AddAddress">
                                <button
                                    type="button"
                                    class="button button--primary button--small js-toggle-address-button"
                                    aria-expanded="false"
                                    aria-controls="AddAddress"
                                >
                                    {% render 'icon-add' %}
                                    {{- 'customer.addresses.add_new' | t -}}
                                </button>
                            </modal-opener>
                            <div class="fixed w-full h-full top-0 left-0 right-0 bottom-0 bg-black opacity-40 transform -translate-x-full z-50 js-overlay-bg"></div>
                            <modal-dialog id="AddAddress">
                                <div class="modal-overlay hidden js-modal-overlay"></div>
                                <div role="dialog" class="fixed w-full h-[80vh] right-0 bottom-0 py-[2.8125rem] px-8 max-w-[35rem] pt-8 z-70 rounded-tl-[2rem] bg-uiWhite overflow-y-scroll box-border transform transition-transform duration-300 mediumMax:translate-y-full mediumMax:rounded-tr-[2rem] medium:translate-x-full medium:h-screen large:top-0 large:px-[4.375rem] large:rounded-bl-[2rem] js-address-form">
                                    <div class="flex items-center justify-between mb-[2.125rem]">
                                        <h2 id="AddressNewHeading" class="text-uiBlack font-Oswald text-3xl uppercase">
                                            {{- 'customer.addresses.add_new' | t -}}
                                        </h2>
                                        <button id="ModalClose-AddAddress" class="w-12 h-12 flex justify-center items-center rounded-full border border-solid border-primary text-primary js-toggle-address-button">
                                            {% render 'icon-close-overlay' %}
                                        </button>
                                    </div>
                                    {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                                        <div class="field field--label-top">
                                            <label for="AddressFirstNameNew" class="field__label">{{ 'customer.addresses.first_name' | t }}</label>
                                            <input type="text" id="AddressFirstNameNew" class="field__input" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                        </div>
                                        <div class="field field--label-top">
                                            <label for="AddressLastNameNew" class="field__label">{{ 'customer.addresses.last_name' | t }}</label>
                                            <input type="text" id="AddressLastNameNew" class="field__input" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                        </div>
                                        <div class="field field--label-top">
                                            <label for="AddressCompanyNew" class="field__label">{{ 'customer.addresses.company' | t }}</label>
                                            <input type="text" id="AddressCompanyNew" class="field__input" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                                        </div>
                                        <div class="field field--label-top">
                                            <label for="AddressAddress1New" class="field__label">{{ 'customer.addresses.address1' | t }}</label>
                                            <input type="text" id="AddressAddress1New" class="field__input" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                                        </div>
                                        <div class="field field--label-top">
                                            <label for="AddressAddress2New" class="field__label">{{ 'customer.addresses.address2' | t }}</label>
                                            <input type="text" id="AddressAddress2New" class="field__input" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                                        </div>
                                        <div class="field field--label-top">
                                            <label for="AddressCityNew" class="field__label">{{ 'customer.addresses.city' | t }}</label>
                                            <input type="text" id="AddressCityNew" class="field__input" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                                        </div>
                                        <div class="field field--label-top">
                                            <label for="AddressCountryNew" class="field__label">{{ 'customer.addresses.country' | t }}</label>
                                            <div class="select relative">
                                                <select
                                                    id="AddressCountryNew"
                                                    class="js-country-select"
                                                    name="address[country]"
                                                    data-address-country-select
                                                    data-default="{{ form.country }}"
                                                    autocomplete="country"
                                                >
                                                    {{- all_country_option_tags -}}
                                                </select>
                                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                    <use href="#icon-caret" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div id="AddressProvinceContainerNew" class="field field--label-top" style="display: none;">
                                            <label for="AddressProvinceNew" class="field__label">{{ 'customer.addresses.province' | t }}</label>
                                            <div class="select relative">
                                                <select
                                                    id="AddressProvinceNew"
                                                    name="address[province]"
                                                    data-default="{{ form.province }}"
                                                    autocomplete="address-level1"
                                                >
                                                </select>
                                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                    <use href="#icon-caret" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="field field--label-top">
                                            <label for="AddressZipNew" >{{ 'customer.addresses.zip' | t }}</label>
                                            <input type="text" id="AddressZipNew" class="field__input" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                                        </div>
                                        <div class="field field--label-top">
                                            <label for="AddressPhoneNew" class="field__label">{{ 'customer.addresses.phone' | t }}</label>
                                            <input type="tel" id="AddressPhoneNew" class="field__input" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                                        </div>
                                        <div class="field field--checkbox">
                                            {{ form.set_as_default_checkbox }}
                                            <label class="ml-4" for="address_default_address_new">
                                                {{ 'customer.addresses.set_default' | t }}
                                            </label>
                                        </div>
                                        <div class="mt-[3.125rem]">
                                            <button type="submit" class="button button--primary button--full-width">
                                                {{- 'customer.addresses.add' | t -}}
                                            </button>
                                            <button type="reset" class="flex mt-[1.875rem] mx-auto link underline js-close-address-button">
                                                {{- 'customer.addresses.cancel' | t -}}
                                            </button>
                                        </div>
                                    {%- endform -%}
                                </div>
                            </modal-dialog>
                        </div>
                    </div>
                    <div class="mt-9">
                        <a href="{{ routes.account_url }}" class="button button--secondary">
                            {{- 'customer.account.return' | t -}}
                        </a>
                    </div>
                    {%- if paginate.pages > 1 -%}
                        {% render 'pagination', paginate: paginate, anchor: '' %}
                    {%- endif -%}
                </div>
            {%- endpaginate -%}
        </div>
    </div>
</div>

<script>
    window.onload = () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    }
</script>
