<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

        {%- if settings.favicon != blank -%}
            <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
        {%- endif -%}

        <title>{{- shop.name -}}</title>

        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {% render 'meta-tags' %}

        {{ content_for_header }}

        {{ 'global.css' | asset_url | stylesheet_tag }}

        {% style %}
            :root {
                --color-primary: {{ settings.colors_primary }};
                --color-secondary: {{ settings.colors_secondary }};
                --color-accent-a: {{ settings.colors_accent_a }};
                --color-accent-p: {{ settings.colors_accent_p }};
                --color-accent-r: {{ settings.colors_accent_r }};
                --color-accent-y: {{ settings.colors_accent_y }};
                --color-text-1: {{ settings.colors_text_1 }};
                --color-text-2: {{ settings.colors_text_2 }};
                --color-background-1: {{ settings.colors_background_1 }};
                --color-background-2: {{ settings.colors_background_2 }};
                --color-uiWhite: #FFFFFF;
                --color-uiLightGrey: #FBFBFB;
                --color-uiMidGrey: #E8E8E8;
                --color-uiDarkGrey: #B9B9B9;
                --color-uiBlack: #252525;
                --color-validationError: #EE0C0C;
                --color-validationWarning: #F9A526;
                --color-validationOk: #7ACA3B;
            }

            *,
            *::before,
            *::after {
                box-sizing: inherit;
            }
        {% endstyle %}

        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    </head>

    <body>
        <a class="sr-only focus:not-sr-only" href="#MainContent">
            <div class="button absolute top-0 left-0">{{ 'accessibility.skip_to_text' | t }}</div>
        </a>

        <header class="flex justify-center items-center border-b border-solid border-b-text1 min-h-[3.875rem] xLarge:min-h-[6rem]">
            <div class="container">
                <div class="wrap">
                    <div class="flex justify-center">
                        <h2>{{ shop.name }}</h2>
                    </div>
                </div>
            </div>
        </header>

        <div id="MainContent">
            {% section 'main-password-header' %}

            <main class="my-10 large:my-20">
                {{ content_for_layout }}
            </main>
        </div>

        <footer class="pb-[3.75rem] large:pb-[4.375rem]">
            {% section 'main-password-footer' %}
        </footer>
    </body>
</html>
