<div class="container">
    <div class="mt-12 large:mt-20">
        <div class="accordion__header wrap">
            {%- if section.settings.heading != blank -%}
                <h2 class="heading-r text-text1 mb-10{% if section.settings.center_align_text %} text-center{% endif %}">
                    {{- section.settings.heading | escape -}}
                </h2>
            {%- else -%}
                <h2 class="hidden">
                    {{- 'accessibility.accordion_title' | t -}}
                </h2>
            {%- endif -%}
        </div>
        <div>
            {%- for block in section.blocks -%}
                <div class="accordion--comp{% if block.settings.ingredients_list != blank %} overflow-hidden{% endif %}" {{ block.shopify_attributes }}>
                    <details class="w-full border-solid border-uiMidGrey{% if forloop.first %} border-0{% else %} border-t{% endif %}"{% if section.settings.open_first_collapsible_row and forloop.first %} open{% endif %}>
                        <summary id="Summary-{{ block.id }}-{{ section.id }}" class="accordion__summary wrap flex justify-between items-center py-[1.1rem] cursor-pointer medium:py-[2.5rem]">
                            <div class="flex gap-4">
                                {%- unless block.settings.icon == 'none' -%}
                                    {%- render 'icon-accordion', icon: block.settings.icon -%}
                                {%- endunless -%}
                                <h3 class="heading-s font-bold font-Gotham uppercase">
                                    {{- block.settings.heading | default: block.settings.page.title -}}
                                </h3>
                            </div>
                            <div class="accordion__plus relative w-5 h-5 flex flex-col justify-center items-center transition-transform duration-200 transform rotate-45">
                                <div class="relative flex w-4 h-[0.0625rem] bg-primary transform -rotate-45 -translate-y-1/2 top-[0.0625rem]"></div>
                                <div class="relative flex w-4 h-[0.0625rem] bg-primary transform rotate-45 -translate-y-1/2"></div>
                            </div>
                        </summary>
                        {% if block.settings.row_content != blank or block.settings.page.content != blank %}
                            <div class="wysiwyg wrap pb-8" role="region" aria-labelledby="Summary-{{ block.id }}-{{ section.id }}">
                                {{- block.settings.row_content -}}
                                {{- block.settings.page.content -}}
                            </div>
                        {% endif %}
                        {% if block.settings.ingredients_list != blank %}
                            <div class="wrap pb-5">
                                {% render 'ingredients-carousel', ingredients: block.settings.ingredients_list %}
                            </div>
                        {% endif %}
                    </details>
                </div>
            {%- endfor -%}
        </div>
        {%- if section.settings.supporting_text != blank -%}
            <div class="wysiwyg wrap mt-16 text-center">
                {{- section.settings.supporting_text -}}
            </div>
        {%- endif -%}
    </div>
</div>

{% schema %}
{
    "name": "t:sections.accordion.name",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.accordion.settings.heading.label"
        },
        {
            "type": "richtext",
            "id": "supporting_text",
            "label": "t:sections.accordion.settings.supporting_text.label",
            "info": "t:sections.accordion.settings.supporting_text.info"
        },
        {
            "type": "checkbox",
            "id": "center_align_text",
            "label": "t:sections.accordion.settings.centre_align_text.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "open_first_collapsible_row",
            "default": false,
            "label": "t:sections.accordion.settings.open_first_collapsible_row.label"
        }
    ],
    "blocks": [
        {
            "type": "collapsible_row",
            "name": "t:sections.accordion.blocks.collapsible_row.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Collapsible row",
                    "label": "t:sections.accordion.blocks.collapsible_row.settings.heading.label",
                    "info": "t:sections.accordion.blocks.collapsible_row.settings.heading.info"
                },
                {
                    "type": "select",
                    "id": "icon",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:sections.accordion.blocks.collapsible_row.settings.icon.options__1.label"
                        },
                        {
                            "value": "materials",
                            "label": "t:sections.accordion.blocks.collapsible_row.settings.icon.options__2.label"
                        },
                        {
                            "value": "shipping_and_returns",
                            "label": "t:sections.accordion.blocks.collapsible_row.settings.icon.options__3.label"
                        },
                        {
                            "value": "dimensions",
                            "label": "t:sections.accordion.blocks.collapsible_row.settings.icon.options__4.label"
                        },
                        {
                            "value": "care_instructions",
                            "label": "t:sections.accordion.blocks.collapsible_row.settings.icon.options__5.label"
                        },
                        {
                            "value": "faqs",
                            "label": "t:sections.accordion.blocks.collapsible_row.settings.icon.options__6.label"
                        }
                    ],
                    "default": "none",
                    "label": "t:sections.accordion.blocks.collapsible_row.settings.icon.label"
                },
                {
                    "type": "richtext",
                    "id": "row_content",
                    "label": "t:sections.accordion.blocks.collapsible_row.settings.row_content.label"
                },
                {
                    "type": "page",
                    "id": "page",
                    "label": "t:sections.accordion.blocks.collapsible_row.settings.page.label"
                },
                {
                    "type": "metaobject_list",
                    "id": "ingredients_list",
                    "label": "t:sections.ingredients-carousel.settings.ingredients_list.label",
                    "metaobject_type": "ingredient",
                    "limit": 24
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.accordion.presets.name",
            "blocks": [
                {
                    "type": "collapsible_row"
                },
                {
                    "type": "collapsible_row"
                },
                {
                    "type": "collapsible_row"
                },
                {
                    "type": "collapsible_row"
                }
            ]
        }
    ]
}
{% endschema %}
