<div id="Half-width-media-carousel-{{ section.id }}" class="container">
    <div class="pt-12 large:pt-20">
        <div class="wrap mediumMax:overflow-hidden">
            <div class="medium:grid medium:grid-cols-12 medium:gap-[1.125rem] medium:items-center">
                <div class="medium:col-span-6{% if section.settings.flip_layout %} medium:order-2 medium:pl-[16.666%]{% else %} medium:pr-[16.666%]{% endif %}{% if section.blocks and section.blocks.size > 1 %} large:mb-[5.688rem]{% endif %}">
                    {%- unless section.settings.image == blank -%}
                        {%- assign image_size_2x = section.settings.image_width | times: 2 | at_most: 5760 -%}
                        <img srcset="{{ section.settings.image | image_url: width: section.settings.image_width }} 1x, {{ section.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ section.settings.image | image_url: width: section.settings.image_width }}"
                            class="block"
                            width="{{ section.settings.image_width | default: section.settings.image.width }}"
                            height="{{ section.settings.image.height }}"
                            alt="{{ section.settings.image.alt | escape }}"
                            loading="lazy"
                        >
                    {% endunless %}
                    {%- if section.settings.heading != blank -%}
                        <h2 class="heading-r">
                            {{- section.settings.heading | escape -}}
                        </h2>
                    {%- endif -%}
                    {%- if section.settings.text != blank -%}
                        <div class="body-l mt-[1.875rem] medium:max-w-[19.375rem]">
                            {{- section.settings.text -}}
                        </div>
                    {%- endif -%}
                    {%- if section.settings.button_label != blank -%}
                        <div class="mt-9 mediumMax:mb-9">
                            <a
                                class="button"
                                {% if section.settings.button_link == blank %}
                                    role="link"
                                    aria-disabled="true"
                                {% else %}
                                    href="{{ section.settings.button_link }}"
                                {% endif %}
                            >
                                <div class="button__label">
                                    <span>
                                        {{- section.settings.button_label | escape -}}
                                    </span>
                                    <span class="absolute top-10 left-0">
                                        {% if section.settings.secondary_button_label %}
                                            {{- section.settings.secondary_button_label -}}
                                        {% else %}
                                            {{- section.settings.button_label -}}
                                        {% endif %}
                                    </span>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M7.29289 0.292893C7.68342 -0.0976311 8.31658 -0.0976311 8.70711 0.292893L15.7071 7.29289C16.0976 7.68342 16.0976 8.31658 15.7071 8.70711L8.70711 15.7071C8.31658 16.0976 7.68342 16.0976 7.29289 15.7071C6.90237 15.3166 6.90237 14.6834 7.29289 14.2929L12.5858 9H1C0.447715 9 0 8.55229 0 8C0 7.44772 0.447715 7 1 7H12.5858L7.29289 1.70711C6.90237 1.31658 6.90237 0.683417 7.29289 0.292893Z" fill="white"/>
                                </svg>
                            </a>
                        </div>
                    {%- endif -%}
                </div>
                {% if section.blocks != blank %}
                    <div class="mediumMax:mt-6 medium:col-span-6{% if section.settings.flip_layout %} medium:order-1{% endif %}">
                        <div class="swiper swiper--auto mediumMax:[&.swiper]:overflow-visible js-half-width-carousel">
                            <div class="swiper-wrapper">
                                {% for slide in section.blocks %}
                                    {%- if slide.settings.embed_url != blank
                                        or slide.settings.video_url != blank
                                        or slide.settings.image != blank
                                    -%}
                                        <div class="swiper-slide {% if slide.settings.embed_url != blank %}aspect-video{% else %}aspect-square{% endif %}">
                                            {% if slide.settings.embed_url != blank %}
                                                <div class="h-full flex justify-center items-center">
                                                    <deferred-media class="deferred-media relative w-full h-auto aspect-video" data-media-id="{{ slide.settings.embed_url.id }}">
                                                        <button
                                                            id="Deferred-Poster-Modal-{{ slide.settings.embed_url.id }}"
                                                            class="deferred-media__poster media"
                                                            type="button"
                                                        >
                                                            {%- if slide.settings.video_poster != blank -%}
                                                                <picture>
                                                                    <source media="(max-width: 48rem)"
                                                                            srcset="{{ slide.settings.video_poster | image_url: width: 722 }} 1x, {{ slide.settings.video_poster | image_url: width: 1444 }} 2x">
                                                                    <source media="(min-width: 48rem)"
                                                                            srcset="{{ slide.settings.video_poster | image_url: width: 858 }} 1x, {{ slide.settings.video_poster | image_url: width: 1715 }} 2x">
                                                                    <img srcset="{{ slide.settings.video_poster | image_url: width: 1715 }} 2x"
                                                                        src="{{ slide.settings.video_poster | image_url: width: 858 }}"
                                                                        class="object-cover w-full h-full"
                                                                        width="{{ slide.settings.video_poster.width }}"
                                                                        height="{{ slide.settings.video_poster.height }}"
                                                                        alt="{{ 'sections.video.load_video' | t: description: slide.settings.description | escape }}"
                                                                        loading="lazy"
                                                                    >
                                                                </picture>
                                                            {%- else -%}
                                                                {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                                                            {%- endif -%}
                                                            <span class="deferred-media__poster-button">
                                                                {%- render 'icon-play' -%}
                                                            </span>
                                                        </button>
                                                        <template>
                                                            {%- if slide.settings.embed_url.type == 'youtube' -%}
                                                                <iframe src="https://www.youtube.com/embed/{{ slide.settings.embed_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ slide.settings.description | escape }}"></iframe>
                                                            {%- else -%}
                                                                <iframe src="https://player.vimeo.com/video/{{ slide.settings.embed_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ slide.settings.description | escape }}"></iframe>
                                                            {%- endif -%}
                                                        </template>
                                                    </deferred-media>
                                                </div>
                                            {%- elsif slide.settings.video_url != blank -%}
                                                <video class="object-cover w-full h-full js-lazy-video"
                                                    width="858"
                                                    height="858"
                                                    autoplay
                                                    muted
                                                    loop
                                                    {% unless slide.settings.video_poster == blank %}
                                                        poster="{{ slide.settings.video_poster | image_url: width: 1715 }}"
                                                    {% endunless %}
                                                    {% unless slide.settings.video_url == blank %}
                                                        data-video-url="{{ slide.settings.video_url }}"
                                                    {% endunless %}
                                                />
                                            {%- elsif slide.settings.image != blank -%}
                                                <picture>
                                                    <source media="(max-width: 48rem)"
                                                            srcset="{{ slide.settings.image | image_url: width: 722 }} 1x, {{ slide.settings.image | image_url: width: 1444 }} 2x">
                                                    <source media="(min-width: 48rem)"
                                                            srcset="{{ slide.settings.image | image_url: width: 858 }} 1x, {{ slide.settings.image | image_url: width: 1715 }} 2x">
                                                    <img srcset="{{ slide.settings.image | image_url: width: 1715 }} 2x"
                                                        src="{{ slide.settings.image | image_url: width: 858 }}"
                                                        class="object-cover w-full h-full"
                                                        width="{{ slide.settings.image.width }}"
                                                        height="{{ slide.settings.image.height }}"
                                                        alt=""
                                                        loading="lazy"
                                                    >
                                                </picture>
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                            {% if section.blocks and section.blocks.size > 1 %}
                                <div class="relative flex justify-between items-center mt-5 large:mt-[2.1875rem]">
                                    <div class="swiper-scrollbar relative w-full medium:mr-6">
                                        <div class="swiper-scrollbar-drag bg-{{ section.settings.controls_color }} h-1 rounded-[2rem] cursor-pointer z-20"></div>
                                        <div class="absolute w-full h-px top-1/2 -translate-y-1/2 bg-[#C4C4C4] z-10"></div>
                                    </div>
                                    <button class="swiper-button-prev swiper-button-small-mobile ml-4 border border-solid border-{{ section.settings.controls_color }} text-{{ section.settings.controls_color }} cursor-pointer transition transform rotate-180 hover:bg-{{ section.settings.controls_color }} hover:text-{{ section.settings.icons_hover_color }}">
                                        {% render 'icon-slider-arrow' %}
                                    </button>
                                    <button class="swiper-button-next swiper-button-small-mobile ml-3.5 bg-{{ section.settings.controls_color }} text-{{ section.settings.icons_hover_color }} border border-solid border-{{ section.settings.controls_color }} transition cursor-pointer hover:opacity-80">
                                        {% render 'icon-slider-arrow' %}
                                    </button>
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "t:sections.heading-and-images-grid.name",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "checkbox",
            "id": "flip_layout",
            "default": false,
            "label": "t:sections.heading-and-images-grid.settings.flip_layout.label",
            "info": "t:sections.heading-and-images-grid.settings.flip_layout.info"
        },
        {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "t:sections.heading-and-images-grid.settings.heading.label"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "t:sections.heading-and-images-grid.settings.text.label"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.heading-and-images-grid.settings.button_label.label",
            "info": "t:sections.heading-and-images-grid.settings.button_label.info"
        },
        {
            "type": "text",
            "id": "secondary_button_label",
            "default": "Secondary Button label",
            "label": "t:sections.heading-and-images-grid.settings.secondary_button_label.label",
            "info": "t:sections.heading-and-images-grid.settings.secondary_button_label.info"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.heading-and-images-grid.settings.button_link.label"
        },
        {
            "type": "select",
            "id": "controls_color",
            "options": [
                {
                    "value": "primary",
                    "label": "t:sections.all.colors.primary.label"
                },
                {
                    "value": "secondary",
                    "label": "t:sections.all.colors.secondary.label"
                },
                {
                    "value": "accentA",
                    "label": "t:sections.all.colors.accent_a.label"
                },
                {
                    "value": "accentP",
                    "label": "t:sections.all.colors.accent_p.label"
                },
                {
                    "value": "accentR",
                    "label": "t:sections.all.colors.accent_r.label"
                },
		        {
                    "value": "accentY",
                    "label": "t:sections.all.colors.accent_y.label"
                },
                {
                    "value": "background1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background2",
                    "label": "t:sections.all.colors.background_2.label"
                }
            ],
            "default": "primary",
            "label": "t:sections.heading-and-images-grid.settings.controls_colour.label"
        },
        {
            "type": "select",
            "id": "icons_hover_color",
            "options": [
                {
                    "value": "primary",
                    "label": "t:sections.all.colors.primary.label"
                },
                {
                    "value": "secondary",
                    "label": "t:sections.all.colors.secondary.label"
                },
                {
                    "value": "accentA",
                    "label": "t:sections.all.colors.accent_a.label"
                },
                {
                    "value": "accentP",
                    "label": "t:sections.all.colors.accent_p.label"
                },
                {
                    "value": "accentR",
                    "label": "t:sections.all.colors.accent_r.label"
                },
		        {
                    "value": "accentY",
                    "label": "t:sections.all.colors.accent_y.label"
                },
                {
                    "value": "background1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background2",
                    "label": "t:sections.all.colors.background_2.label"
                }
            ],
            "default": "secondary",
            "label": "t:sections.all.colors.icons_hover_colour_label"
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "t:sections.heading-and-images-grid.blocks.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.heading-and-images-grid.blocks.settings.image.label",
                    "info": "t:sections.heading-and-images-grid.blocks.settings.image.info"
                },
                {
                    "type": "text",
                    "id": "video_url",
                    "default": "https://player.vimeo.com/progressive_redirect/playback/541707235/rendition/1080p/file.mp4?loc=external&signature=883afde55f83841b85b1b8a518e5072ed72353a1850b2782aab895bdc2458c6d",
                    "label": "t:sections.heading-and-images-grid.blocks.settings.video_url.label",
                    "info": "t:sections.heading-and-images-grid.blocks.settings.video_url.info"
                },
                {
                    "type": "video_url",
                    "id": "embed_url",
                    "accept": [
                        "youtube",
                        "vimeo"
                    ],
                    "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
                    "label": "t:sections.heading-and-images-grid.blocks.settings.embed_url.label",
                    "info": "t:sections.heading-and-images-grid.blocks.settings.embed_url.info"
                },
                {
                    "type": "image_picker",
                    "id": "video_poster",
                    "label": "t:sections.heading-and-images-grid.blocks.settings.video_poster.label",
                    "info": "t:sections.heading-and-images-grid.blocks.settings.video_poster.info"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.heading-and-images-grid.presets.name",
            "blocks": [
                {
                    "type": "slide"
                }
            ]
        }
    ]
}
{% endschema %}
