<script src="{{ 'collections-listing.js' | asset_url }}" defer="defer"></script>

<div class="collection-hero">
    <div class="container">
        <div class="medium:wrap">
            <div class="mt-6 medium:mt-[2.63rem]">
                <div class="flex flex-col-reverse medium:grid medium:grid-cols-12 medium:gap-x-5 medium:items-start">
                    <div class="{% if collection.featured_image %}medium:col-span-6{% else %}medium:col-span-10{% endif %}">
                        <div class="mediumMax:wrap">
                            <h1 class="heading-m">
                                <span class="hidden">{{ 'sections.collection_template.title' | t }}: </span>
                                {{- collection.title | escape -}}
                            </h1>
                            {%- if section.settings.show_collection_description and collection.description != blank -%}
                                <div class="wysiwyg text-body-l mt-3 large:pr-12 large:mt-[1.625rem] xLarge:pr-20">
                                    {{- collection.description -}}
                                </div>
                            {%- endif -%}
                            {%- if collection.metafields.collection_banner.button_text != blank and collection.metafields.collection_banner.button_url != blank -%}
                                <div class="mt-6 large:mt-9">
                                    <a class="button" href="{{ collection.metafields.collection_banner.button_url }}">
                                        <div class="button__label">
                                            <span>
                                                {{ collection.metafields.collection_banner.button_text }}
                                            </span>
                                            <span class="absolute top-10 left-0">
                                                {% if collection.metafields.collection_banner.secondary_button_text %}
                                                    {{- collection.metafields.collection_banner.secondary_button_text | escape -}}
                                                {% else %}
                                                    {{ collection.metafields.collection_banner.button_text }}
                                                {% endif %}
                                            </span>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M7.29289 0.292893C7.68342 -0.0976311 8.31658 -0.0976311 8.70711 0.292893L15.7071 7.29289C16.0976 7.68342 16.0976 8.31658 15.7071 8.70711L8.70711 15.7071C8.31658 16.0976 7.68342 16.0976 7.29289 15.7071C6.90237 15.3166 6.90237 14.6834 7.29289 14.2929L12.5858 9H1C0.447715 9 0 8.55229 0 8C0 7.44772 0.447715 7 1 7H12.5858L7.29289 1.70711C6.90237 1.31658 6.90237 0.683417 7.29289 0.292893Z" fill="white"/>
                                        </svg>
                                    </a>
                                </div>
                            {%- endif -%}
                            {%- if section.settings.collections_is_carousel == false and section.settings.collections_title != blank or section.settings.collections != blank %}
                                <div class="mt-6 large:mt-[1.875rem]">
                                    {%- if section.settings.collections_title != blank %}
                                        <p class="uppercase font-bold font-Gotham text-xs">
                                            {{- section.settings.collections_title -}}
                                        </p>
                                    {%- endif -%}
                                    {%- if section.settings.collections != blank %}
                                        <div class="relative after:block after:absolute after:right-0 after:top-0 after:w-6 after:h-full gradient-pseudo mediumMax:-mr-[calc(7.2%)]">
                                            <div class="items-center gap-[0.625rem] py-2 mediumMax:whitespace-nowrap mediumMax:pr-4 mediumMax:overflow-scroll medium:flex medium:flex-wrap">
                                                {%- for collection in section.settings.collections -%}
                                                    {%  assign collectionSeries = collection.metafields.custom.series.value %}
                                                    <a href="{{- collection.url -}}"{% if collectionSeries.colour %} style="color: {{ collectionSeries.colour }};"{% endif %} class="inline-block relative py-3 px-4 bg-uiMidGrey overflow-hidden font-medium font-Gotham rounded text-body-xs uppercase whitespace-nowrap before:bg-current before:block before:absolute before:top-0 before:h-full before:w-[0.3125rem] before:left-0 before:transition-all before:duration-200 before:ease-in-out mediumMax:ml-1 mediumMax:first:ml-0 hover:before:w-3">
                                                        <span class="text-text1">
                                                            {{- collection.title -}}
                                                        </span>
                                                    </a>
                                                {%- endfor -%}
                                            </div>
                                        </div>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                    {%- if collection.featured_image -%}
                        <div class="mediumMax:mb-6 medium:col-span-6">
                            <img
                                src="{{ collection.featured_image|image_url: width: 866 }}"
                                class="aspect-[16/9] w-full h-full object-contain max-h-[21.375rem] scale-in js-scale-in"
                                width="{{ collection.featured_image.width }}"
                                height="{{ collection.featured_image.height }}"
                                alt="{{ collection.featured_image.alt }}"
                                loading="lazy"
                            >
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
        {%- if section.settings.collections != blank and section.settings.collections_is_carousel %}
            <div class="wrap largeMax:mt-6 largeMax:overflow-hidden">
                {%- if section.settings.collections_title != blank %}
                    <p class="font-bold body-m mb-3 large:mb-5">
                        {{- section.settings.collections_title -}}
                    </p>
                {%- endif -%}
                <div class="swiper swiper--auto largeMax:[&.swiper]:overflow-visible large:px-[3.4375rem] js-collection-banner-carousel">
                    <div class="absolute z-2 top-1/2 left-0 -translate-y-1/2 flex items-center w-11 h-full border-r border-r-uiMidGrey bg-uiWhite mr-[0.625rem] largeMax:hidden">
                        <button class="swiper-button-prev swiper-button-desktop border border-solid border-{{ section.settings.controls_color }} text-{{ section.settings.controls_color }} cursor-pointer transition transform rotate-180 hover:bg-{{ section.settings.controls_color }} hover:text-{{ section.settings.icons_hover_color }}">
                            {% render 'icon-slider-arrow' %}
                        </button>
                    </div>
                    <div class="swiper-wrapper large:py-[0.625rem]">
                        {%- for collection in section.settings.collections -%}
                            <div class="swiper-slide bg-uiMidGrey js-slide">
                                <a href="{{ collection.url }}" class="flex items-center gap-3 h-full p-[0.375rem] box-border">
                                    {% if collection.image != blank %}
                                        <img src="{{ collection.image | image_url: width: 60 }}" width="60" height="60" alt="">
                                    {% endif %}
                                    <p class="body-s text-primary">
                                        {{- collection.title -}}
                                    </p>
                                </a>
                            </div>
                        {%- endfor -%}
                    </div>
                    <div class="absolute z-2 top-1/2 right-0 -translate-y-1/2 flex items-center justify-end w-11 h-full border-l border-l-uiMidGrey bg-uiWhite ml-[0.625rem] largeMax:hidden">
                        <button class="swiper-button-next swiper-button-desktop ml-4 bg-{{ section.settings.controls_color }} text-{{ section.settings.icons_hover_color }} border border-solid border-{{ section.settings.controls_color }} transition cursor-pointer hover:opacity-80">
                            {% render 'icon-slider-arrow' %}
                        </button>
                    </div>
                </div>
            </div>
        {%- endif -%}
    </div>
</div>

{% schema %}
{
    "name": "t:sections.main-collection-banner.name",
    "class": "section",
    "settings": [
        {
            "type": "paragraph",
            "content": "t:sections.main-collection-banner.settings.paragraph.content"
        },
        {
            "type": "checkbox",
            "id": "show_collection_description",
            "default": true,
            "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
        },
        {
            "type": "text",
            "id": "collections_title",
            "label": "t:sections.main-collection-banner.settings.collections_title.label"
        },
        {
            "type": "collection_list",
            "id": "collections",
            "label": "t:sections.main-collection-banner.settings.collections.label",
            "info": "t:sections.main-collection-banner.settings.collections.info"
        },
        {
            "type": "checkbox",
            "id": "collections_is_carousel",
            "default": false,
            "label": "t:sections.main-collection-banner.settings.collections_is_carousel.label",
            "info": "t:sections.main-collection-banner.settings.collections_is_carousel.info"
        },
        {
            "type": "select",
            "id": "controls_color",
            "options": [
                {
                    "value": "primary",
                    "label": "t:sections.all.colors.primary.label"
                },
                {
                    "value": "secondary",
                    "label": "t:sections.all.colors.secondary.label"
                },
                {
                    "value": "accentA",
                    "label": "t:sections.all.colors.accent_a.label"
                },
                {
                    "value": "accentP",
                    "label": "t:sections.all.colors.accent_p.label"
                },
                {
                    "value": "accentR",
                    "label": "t:sections.all.colors.accent_r.label"
                },
		        {
                    "value": "accentY",
                    "label": "t:sections.all.colors.accent_y.label"
                },
                {
                    "value": "background1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background2",
                    "label": "t:sections.all.colors.background_2.label"
                }
            ],
            "default": "accentA",
            "label": "t:sections.latest-news.settings.controls_colour.label"
        },
        {
            "type": "select",
            "id": "icons_hover_color",
            "options": [
                {
                    "value": "primary",
                    "label": "t:sections.all.colors.primary.label"
                },
                {
                    "value": "secondary",
                    "label": "t:sections.all.colors.secondary.label"
                },
                {
                    "value": "accentA",
                    "label": "t:sections.all.colors.accent_a.label"
                },
                {
                    "value": "accentP",
                    "label": "t:sections.all.colors.accent_p.label"
                },
                {
                    "value": "accentR",
                    "label": "t:sections.all.colors.accent_r.label"
                },
		        {
                    "value": "accentY",
                    "label": "t:sections.all.colors.accent_y.label"
                },
                {
                    "value": "background1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background2",
                    "label": "t:sections.all.colors.background_2.label"
                }
            ],
            "default": "accentA",
            "label": "t:sections.all.colors.icons_hover_colour_label"
        }
    ]
}
{% endschema %}
