<script src="{{ 'contact.js' | asset_url }}" defer="defer"></script>
<style>
@media only screen and (max-width: 768px) {
  .copywrite-hide {
    bottom: -10%;
  }
}
</style>
{% if section.settings.title or page.title or page.content %}
    <div class=" container1">
        <div class="wrap1 w-full">
             <h1 class="heading-m mt-4 flex justify-center items-center  ">
                        {% if section.settings.title %}
                            {{- section.settings.title | escape -}}
                        {% else %}
                            {{- page.title | escape -}}
                        {% endif %}
                    </h1>
            <div class=" large:relative  pb-20 pt-[1.875rem] flex flex-col-reverse justify-end items-end gap-y-[1.375rem] large:grid large:grid-cols-12  large:pt-16 large:pb-[2.5rem]">
               
                <div class="hidden large:block large:col-span-6 large:col-start-0">
                    {%- if section.settings.image != blank -%}
                        <img class="block aspect-square max-h-[40rem] object-contain"
                            srcset="{{ section.settings.image | image_url: width: 640 }} 1x, {{ section.settings.image | image_url: width: 1280 }} 2x"
                            src="{{ section.settings.image | image_url: width: 1280 }}"
                            alt="{{ section.settings.image.description | escape }}"
                            loading="eager"
                            width="{{ section.settings.image.width }}"
                            height="{{ section.settings.image.height }}"
                        >
                      {%- else -%}
                        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                </div>
                <div class=" large:block large:col-span-6 large:col-start-7 ">
                    <sk-form><script type="application/json" sk-forms data-id="4f32544862454965">{{ shop.metafields.squadkin_form["4f32544862454965"] }}</script><style sk-global-css>{{ shop.metafields.squadkin.sk_global_css }}</style><div class="sk-form" sk-form-block data-token="4f32544862454965"></div></sk-form>
              
           {% comment %}   <script>
 document.addEventListener('DOMContentLoaded', function() {
      console.log("affffffff laksdfj asdj f;lasd fj");
       const observer = new MutationObserver(function(mutations) {
    setInterval(function() {
        console.log("affffffff laksdfj asdj f;lasd fj");
        
  const logoWrapper = document.querySelector('.sk-logo-wrapper');
console.log("affffffff laksdfj asdj f;lasd fj. ${logoWrapper}");
console.log(logoWrapper);
  if (logoWrapper) {
    console.log("aesfasdf laksdfj asdj f;lasd fj");
    // Option 1: Using display property
    {% comment %} logoWrapper.style.display = 'none'; {% endcomment %}

    // Option 2: Using visibility property
    // logoWrapper.style.visibility = 'hidden';

    // Option 3: Overriding !important using setProperty
     logoWrapper.style.setProperty('display', 'none', 'important');
      observer.disconnect();
  }
 


   }, 1000); 
     observer.observe(document.body, {
    childList: true,
    subtree: true
  });
   });
}); 

</script>{% endcomment %}
                    <div class=" absolute z-50 bg-black p-8 bottom-0 right-0  w-full" style="padding:1px; background-color: rgb(239 239 239)"></div>
                    
                </div>


<p class="copywrite-hide" style="background-color:white; padding-top:10px; opacity:1; z-index:999; position:absolute; right:0;
    padding-top:3%; padding-left:17%; bottom:5px;">
  .
</p>

            </div>


             <div class="large:col-span-5">
                   
                    {% comment %} {% if page.content != blank %}
                        <div class="wysiwyg body-l mt-6 large:mt-5">
                            {{- page.content -}}
                        </div>
                    {% endif %} {% endcomment %}
                    {% if section.settings.cta_text != blank %}
                        <a class="button button--primary min-w-[11.3rem] justify-center mt-5 large:mt-8" href="#ContactForm">
                            <div class="button__label">
                                <span>
                                    {{- section.settings.cta_text -}}
                                </span>
                                <span class="absolute top-10 left-0">
                                    {%  if section.settings.cta_text_secondary %}
                                        {{- section.settings.cta_text_secondary -}}
                                    {%  else %}
                                        {{- section.settings.cta_text -}}
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    {% endif %}
                    {% if section.settings.contact_email != blank or section.settings.contact_telephone != blank %}
                        <div class="flex flex-col justify-center items-center mt-10 large:mt-16">
                            <h3 class="font-bold body-lg font-Gotham tracking-[0.045rem] uppercase">
                                {{- 'templates.contact.title' | t -}}
                            </h3>
                            <div class="flex-row flex-wrap gap-y-6 gap-x-6 mt-5 large:items-center">
                                {% if section.settings.contact_email != blank %}
                                    <a class="group inline-flex items-center gap-x-3 body-m" href="mailto:{{ section.settings.contact_email }}">
                                        <svg
                                            class="text-primary"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="25"
                                            viewBox="0 0 24 25"
                                            fill="none"
                                        >
                                            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M1.00014 6.85766C0.999973 6.86753 0.999957 6.87739 1.00009 6.88725V18.875C1.00009 20.5273 2.3478 21.875 4.00009 21.875H20.0001C21.6524 21.875 23.0001 20.5273 23.0001 18.875V6.88736C23.0002 6.87742 23.0002 6.86747 23 6.85751C22.9906 5.21322 21.6465 3.875 20.0001 3.875H4.00009C2.35359 3.875 1.00953 5.2133 1.00014 6.85766ZM3.10666 6.42895C3.27204 6.10192 3.61212 5.875 4.00009 5.875H20.0001C20.3881 5.875 20.7281 6.10192 20.8935 6.42895L12.0001 12.6543L3.10666 6.42895ZM21.0001 8.79566V18.875C21.0001 19.4227 20.5478 19.875 20.0001 19.875H4.00009C3.45237 19.875 3.00009 19.4227 3.00009 18.875V8.79566L11.4266 14.6942C11.7709 14.9353 12.2292 14.9353 12.5735 14.6942L21.0001 8.79566Z" />
                                        </svg>
                                        <span class="group-hover:underline">
                                            {{- section.settings.contact_email -}}
                                        </span>
                                    </a>
                                {% endif %}
                                {% if section.settings.contact_telephone != blank %}
                                    <a class="group inline-flex items-center gap-x-3 body-m" href="tel:{{ section.settings.contact_telephone }}">
                                        <svg
                                            class="text-primary"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="25"
                                            viewBox="0 0 24 25"
                                            fill="none"
                                        >
                                            <path stroke="currentColor" d="M22.0014 17.7951V20.7951C22.0025 21.0736 21.9455 21.3493 21.8339 21.6044C21.7223 21.8596 21.5587 22.0887 21.3535 22.277C21.1483 22.4652 20.906 22.6086 20.6421 22.6978C20.3783 22.787 20.0988 22.8202 19.8214 22.7951C16.7442 22.4607 13.7884 21.4092 11.1914 19.7251C8.77523 18.1898 6.72673 16.1413 5.1914 13.7251C3.50138 11.1163 2.44964 8.14609 2.1214 5.0551C2.09641 4.77856 2.12927 4.49986 2.2179 4.23672C2.30652 3.97359 2.44897 3.73179 2.63616 3.52672C2.82336 3.32165 3.0512 3.15781 3.30519 3.04562C3.55917 2.93343 3.83374 2.87536 4.1114 2.8751H7.1114C7.5967 2.87032 8.06719 3.04218 8.43516 3.35863C8.80313 3.67508 9.04348 4.11454 9.1114 4.5951C9.23802 5.55516 9.47285 6.49782 9.8114 7.4051C9.94594 7.76302 9.97506 8.15201 9.8953 8.52598C9.81555 8.89994 9.63026 9.24321 9.3614 9.5151L8.0914 10.7851C9.51495 13.2886 11.5879 15.3615 14.0914 16.7851L15.3614 15.5151C15.6333 15.2462 15.9766 15.0609 16.3505 14.9812C16.7245 14.9014 17.1135 14.9306 17.4714 15.0651C18.3787 15.4036 19.3213 15.6385 20.2814 15.7651C20.7672 15.8336 21.2108 16.0783 21.5279 16.4526C21.8451 16.8269 22.0136 17.3047 22.0014 17.7951Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <span class="group-hover:underline">
                                            {% if section.settings.contact_telephone_friendly %}
                                                {{- section.settings.contact_telephone_friendly -}}
                                            {% elsif section.settings.contact_telephone %}
                                                {{- section.settings.contact_telephone -}}
                                            {% endif %}
                                        </span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {%- if section.settings.show_social != blank -%}
                        <div class="flex flex-col justify-center items-center mt-9 large:mt-12">
                            {%- if section.settings.social_heading != blank -%}
                                <h1 class="body-lg text-lg font-bold tracking-[0.045rem] font-Gotham uppercase mb-2">
                                    {{- section.settings.social_heading -}}
                                </h1>
                            {%- endif -%}
                            {% render 'social-links',
                                iconAlignment: 'flex-start',
                                listItemClasses: 'inline-block text-primary'
                            %}
                        </div>
                    {%- endif -%}
                </div>

        </div>


         
    </div>
   
{% endif %}



{% schema %}
{
    "name": "t:sections.main-contact-hero.name",
    "tag": "div",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.main-contact-hero.settings.header__1.content"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Contact us",
            "label": "t:sections.main-contact-hero.settings.title.label"
        },
        {
            "type": "text",
            "id": "cta_text",
            "default": "Send a message",
            "label": "t:sections.main-contact-hero.settings.cta_text.label"
        },
        {
            "type": "text",
            "id": "cta_text_secondary",
            "default": "Send a message",
            "label": "t:sections.main-contact-hero.settings.cta_text_secondary.label"
        },
        {
            "type": "text",
            "id": "contact_email",
            "default": "developers@northernartillery.com",
            "label": "t:sections.main-contact-hero.settings.contact_email.label"
        },
        {
            "type": "text",
            "id": "contact_telephone",
            "default": "+441132337760",
            "label": "t:sections.main-contact-hero.settings.contact_telephone.label"
        },
        {
            "type": "text",
            "id": "contact_telephone_friendly",
            "default": "+44 (0)113 233 7760",
            "label": "t:sections.main-contact-hero.settings.contact_telephone_friendly.label"
        },
        {
            "type": "checkbox",
            "id": "show_social",
            "default": true,
            "label": "t:sections.main-contact-hero.settings.show_social.label"
        },
        {
            "type": "text",
            "id": "social_heading",
            "default": "Follow us on social",
            "label": "t:sections.main-contact-hero.settings.social_heading.label"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.main-contact-hero.settings.image.label"
        }
    ]
}
{% endschema %}
