

{% if product.metafields.shopify--discovery--product_recommendation.related_products.value %}
    <div class="overflow-hidden">
        <div class="container">
            <div class="pt-12 large:pt-20">
                <div class="wrap">
                    {%- unless section.settings.heading == blank -%}
                        <div class="mb-6 large:mb-10">
                            <h2 class="heading-r">
                                {{- section.settings.heading -}}
                            </h2>
                        </div>
                    {%- endunless -%}
                    <div>
                        <div class="swiper [&.swiper]:overflow-visible js-product-carousel">
                            <div class="swiper-wrapper">
                                {% for product in product.metafields.shopify--discovery--product_recommendation.related_products.value %}
                                    <div class="swiper-slide js-slide" >
                                        {% render 'card-product',
                                            card_product: product,
                                            enable_reviews: true,
                                            width_classes: 'w-full',
                                            lazy_load: true,
                                            show_vendor: false,
                                            show_quick_add: false
                                        %}
                                    </div>
                                {%- endfor -%}
                            </div>
                            <div class="relative flex justify-between items-center mt-5 large:mt-[2.1875rem]">
                                <div class="swiper-scrollbar relative w-full rounded-[2rem] medium:mr-6">
                                    <div class="swiper-scrollbar-drag bg-{{ section.settings.controls_color }} h-1 rounded-[2rem] cursor-pointer z-20"></div>
                                    <div class="absolute w-full h-px top-1/2 -translate-y-1/2 bg-[#C4C4C4] z-10"></div>
                                </div>
                                <button class="swiper-button-prev swiper-button-desktop border border-solid border-{{ section.settings.controls_color }} text-{{ section.settings.controls_color }} cursor-pointer transition transform rotate-180 hover:bg-{{ section.settings.controls_color }} hover:text-{{ section.settings.icons_hover_color }}">
                                    {% render 'icon-slider-arrow' %}
                                </button>
                                <button class="swiper-button-next swiper-button-desktop ml-4 bg-{{ section.settings.controls_color }} text-{{ section.settings.icons_hover_color }} border border-solid border-{{ section.settings.controls_color }} transition cursor-pointer hover:opacity-80">
                                    {% render 'icon-slider-arrow' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "t:sections.product-related.name",
    "tag": "section",
    "class": "section",
    "enabled_on": {
        "templates": [
            "product"
        ]
    },
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.product-related.settings.label",
            "default": "You may also like"
        },
        {
            "type": "select",
            "id": "controls_color",
            "options": [
                {
                    "value": "primary",
                    "label": "t:sections.all.colors.primary.label"
                },
                {
                    "value": "secondary",
                    "label": "t:sections.all.colors.secondary.label"
                },
                {
                    "value": "accentA",
                    "label": "t:sections.all.colors.accent_a.label"
                },
                {
                    "value": "accentP",
                    "label": "t:sections.all.colors.accent_p.label"
                },
                {
                    "value": "accentR",
                    "label": "t:sections.all.colors.accent_r.label"
                },
		        {
                    "value": "accentY",
                    "label": "t:sections.all.colors.accent_y.label"
                },
                {
                    "value": "background1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background2",
                    "label": "t:sections.all.colors.background_2.label"
                }
            ],
            "default": "accentA",
            "label": "t:sections.product-carousel.settings.controls_colour.label"
        },
        {
            "type": "select",
            "id": "icons_hover_color",
            "options": [
                {
                    "value": "primary",
                    "label": "t:sections.all.colors.primary.label"
                },
                {
                    "value": "secondary",
                    "label": "t:sections.all.colors.secondary.label"
                },
                {
                    "value": "accentA",
                    "label": "t:sections.all.colors.accent_a.label"
                },
                {
                    "value": "accentP",
                    "label": "t:sections.all.colors.accent_p.label"
                },
                {
                    "value": "accentR",
                    "label": "t:sections.all.colors.accent_r.label"
                },
		        {
                    "value": "accentY",
                    "label": "t:sections.all.colors.accent_y.label"
                },
                {
                    "value": "background1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background2",
                    "label": "t:sections.all.colors.background_2.label"
                }
            ],
            "default": "accentA",
            "label": "t:sections.all.colors.icons_hover_colour_label"
        }
    ],
    "presets": [
        {
            "name": "t:sections.product-related.presets.name"
        }
    ]
}
{% endschema %}
